NEW_API_PORT=3000
POSTGRES_USER=root
POSTGRES_DB=new-api
POSTGRES_PASSWORD=replace_with_a_strong_database_password
SESSION_SECRET=replace_with_a_long_random_session_secret
CLOUDFLARE_TUNNEL_TOKEN=replace_with_your_cloudflare_tunnel_token
TZ=Asia/Taipei
NODE_NAME=new-api-prod-1
